@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);

    color: rgb(255, 255, 255);
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao {
    margin: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__content {
    width: 615px;
}

.content__title {
    font-size: 30px;
    font-family: 'Krona One', cursive;
}

.content__paragraph {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.content__links {
    display: flex;
    justify-content: space-evenly;
}

.content__buttons {
    background-color: #22d4fd;
    width: 150px;
    height: 30px;
    text-align: center;
    border-radius: 16px;
    font-size: 17px;
    font-weight: 600;
    padding: 21.5px, 0px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}