@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 100vh;
    background-color: black;
    color: white;
}

.front__end {
    color: orangered;
}

.content__main {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content__main__section {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content__main__title {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}

.content__main__paragraph {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.content__div__links {
    display: flex;
    justify-content: space-between;
}

.content__div__buttons {
    background-color: orangered;
    color: black;
    width: 281px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 20px, 0px;
}